.jumbotron {
    background-image: url("https://i.guim.co.uk/img/media/522116464ecced3186ababd6a8b55151696151a5/291_274_1701_1020/master/1701.jpg?width=700&quality=85&auto=format&fit=max&s=a88a8c907569acf1ba0138698bd47577");
    background-repeat: no-repeat;
    color: white;
}